.action-button {
  background-color: #F40009;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 2vmin;
  position: relative;
  font-weight: 500;
  font-size: .8rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.action-button:active {
  font-size: .75rem;
}

.action-button:active::before {
  -webkit-transform: translate(-50%, -50%) scale(0.95);
          transform: translate(-50%, -50%) scale(0.95);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.action-button__info {
  margin-top: 3vmax;
  width: calc(30vw + 4vmin);
  height: calc(4vh + 4vmin);
  width: calc(clamp(150px, 24vw + max(1.5vmin, 10px), 460px));
  height: calc(clamp(40px, 4vmax + max(1.5vmin, 10px), 140px));
  -webkit-box-shadow: inset 2px -2px 4px #FE000A, inset -2px 2px 4px #D70007;
          box-shadow: inset 2px -2px 4px #FE000A, inset -2px 2px 4px #D70007;
}

.action-button__info::before {
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  width: calc(clamp(140px, 24vw, 440px));
  height: calc(clamp(30px, 4vmax, 120px));
  position: absolute;
  border-radius: calc(clamp(6px, 1.5vmin, 20px));
  -webkit-box-shadow: 2px -2px 4px #FE000A, -2px 2px 4px #D70007;
          box-shadow: 2px -2px 4px #FE000A, -2px 2px 4px #D70007;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.img-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 80vw;
}

.img-carousel__overlay {
  width: 100%;
  height: 80vw;
  background-color: white;
  border-radius: 100%;
  border: 6px solid #F40009;
  -webkit-box-shadow: 2px -2px 4px #FF0B15, -5px 5px 10px #D70007, 5px -5px 10px #FE000A, inset -10px 10px 10px #DEDEDE;
          box-shadow: 2px -2px 4px #FF0B15, -5px 5px 10px #D70007, 5px -5px 10px #FE000A, inset -10px 10px 10px #DEDEDE;
  overflow: hidden;
}

.img-carousel__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.img-carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.img-carousel__item img {
  width: auto;
  height: 60%;
}

.bullets-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: calc(max(30%, 100px));
  height: 30px;
  border-radius: 14px;
  background-color: #F40009;
  border: 4px solid #F40009;
  -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2), inset -6px 6px 4px #E30008, inset 6px -6px 4px #FF000A;
          box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2), inset -6px 6px 4px #E30008, inset 6px -6px 4px #FF000A;
  -webkit-transform: translateY(calc(50% - 10px));
          transform: translateY(calc(50% - 10px));
}

.bullets-mobile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 60%;
}

.bullets-mobile__item {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
}

.bullets-mobile__item.active {
  background-color: white;
  border: none;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F40009;
  width: 40px;
  height: 40px;
  border: 2px solid #F40009;
  border-radius: 100%;
  -webkit-box-shadow: -2px 2px 4px 0px #00000033, 4px -4px 4px 0px #FF000A inset, -4px 4px 4px 0px #E30008 inset;
          box-shadow: -2px 2px 4px 0px #00000033, 4px -4px 4px 0px #FF000A inset, -4px 4px 4px 0px #E30008 inset;
  position: absolute;
}

.arrow:active::after {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(95%);
          transform: scale(95%);
}

.arrow::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-color: #F40009;
  color: white;
  -webkit-box-shadow: 2px -2px 2px #FE000A, -2px 2px 2px #D70007;
          box-shadow: 2px -2px 2px #FE000A, -2px 2px 2px #D70007;
  border-radius: 100%;
  width: 75%;
  height: 75%;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.arrow_left {
  left: 0;
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
}

.arrow_left::after {
  content: "\f053";
}

.arrow_right {
  right: 0;
  -webkit-transform: translate(45%, -50%);
          transform: translate(45%, -50%);
}

.arrow_right::after {
  content: "\f054";
}

@media screen and (min-width: 576px) {
  .img-carousel {
    width: 60vw;
  }
  .img-carousel__overlay {
    height: 60vw;
  }
  .img-carousel__item {
    margin-left: 55%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .bullets-mobile {
    top: 50%;
    left: 90%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
  .bullets-mobile__item {
    border: 2px solid rgba(35, 35, 35, 0.6);
    width: calc(clamp(10px, 2vmin, 40px));
    height: calc(clamp(10px, 2vmin, 40px));
  }
  .bullets-mobile__item.active {
    background-color: #F40009;
    border: none;
  }
}
