@import "root";

.action-button {
	background-color: $main-color;
	border: none;
	color: $white;
	text-transform: uppercase;
	border-radius: 2vmin;
	position: relative;
	font-weight: 500;
	font-size: .8rem;
	transition: all .1s ease-in-out;
	&:active {
		font-size: .75rem;
		&::before {
			transform: translate(-50%, -50%) scale(.95);
			box-shadow: none;
		}
	}
	&__info {
		margin-top: 3vmax;
		width: calc(30vw + 4vmin);
		height: calc(4vh + 4vmin);
        width: calc(clamp(150px, 24vw + max(1.5vmin, 10px), 460px));
        height: calc(clamp(40px, 4vmax + max(1.5vmin, 10px), 140px));
		box-shadow: inset 2px -2px 4px #FE000A, inset -2px 2px 4px #D70007;
		&::before {
			display: block;
			content: "";
			top: 50%;
			left: 50%;
			width: calc(clamp(140px, 24vw, 440px));
			height: calc(clamp(30px, 4vmax, 120px));
			position: absolute;
			border-radius: calc(clamp(6px, 1.5vmin, 20px));
			box-shadow: 2px -2px 4px #FE000A, -2px 2px 4px #D70007;
			transform: translate(-50%, -50%) scale(1);
			transition: all .1s ease-in-out;
		}
	}
}

.img-carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    width: 80vw;
	&__overlay {
		width: 100%;
		height: 80vw;
		background-color: $white;
		border-radius: 100%;
		border: 6px solid $main-color;
		box-shadow: 2px -2px 4px #FF0B15, -5px 5px 10px #D70007, 5px -5px 10px #FE000A, inset -10px 10px 10px #DEDEDE;
		overflow: hidden;
	}
	&__container {
		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
	}
	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		height: 100%;
		width: 100%;
		& img {
			width: auto;
			height: 60%;
		}
	}
}

.bullets-mobile {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: calc(max(30%, 100px));
	height: 30px;
	border-radius: 14px;
	background-color: $main-color;
	border: 4px solid $main-color;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2), inset -6px 6px 4px #E30008, inset 6px -6px 4px #FF000A;
	transform: translateY(calc(50% - 10px));
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		width: 60%;
	}
	&__item {
		width: 10px;
		height: 10px;
		border: 1px solid rgba($white, 0.8);
		border-radius: 100%;
		&.active {
			background-color: $white;
			border: none;
		}
	}
}

.arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $main-color;
	width: 40px;
	height: 40px;
	border: 2px solid $main-color;
	border-radius: 100%;
	box-shadow: -2px 2px 4px 0px #00000033, 4px -4px 4px 0px #FF000A inset, -4px 4px 4px 0px #E30008 inset;
    position: absolute;
    &:active::after {
		box-shadow: none;
		transform: scale(95%);
	}
	&::after {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		background-color: $main-color;
		color: $white;
		box-shadow: 2px -2px 2px #FE000A, -2px 2px 2px #D70007;
		border-radius: 100%;
		width: 75%;
		height: 75%;
		transition: all .1s ease-in-out;
	}
	&_left {
		left: 0;
		transform: translate(-45%,-50%);
		&::after {
			content: "\f053";
		}
	}
	&_right {
		right: 0;
		transform: translate(45%,-50%);
		&::after {
			content: "\f054";
		}
	}
}

@media screen and (min-width: 576px) {
    .img-carousel {
        width: 60vw;
        &__overlay {
            height: 60vw;
        }
        &__item {
            margin-left: 55%;
            justify-content: flex-start;
        }
    }
    .bullets-mobile {
        top: 50%;
        left: 90%;
        transform: translate(-50%,-50%) rotate(90deg);
        background-color: transparent;
        box-shadow: none;
        border: none;
 
        &__item {
            border: 2px solid rgba($black, .6);
            width: calc(clamp(10px, 2vmin, 40px));
            height: calc(clamp(10px, 2vmin, 40px));
            &.active {
                background-color: $main-color;
                border: none;
            }
        }
    }
}